#root{
    // background-color:#9898988C;
}
.form {
    width:580px;
    border:1px,solid gray;
    // margin:50px;
    margin-top:40px;
    margin-left: 450px;
    padding: 10px 40px;
    box-shadow:2px 2px 2px 2px gray;
    background-color: #FFFFFF;
    // color: #989898;
    border-radius:10px;
    &_header {
        // display: flex;
        font-size: 15px;
        font: normal normal normal 18px Microsoft Sans Serif;
    }

    &_container {
        gap: 16px;
        display: flex;
        flex-direction: column;
        .rowThree{
            flex-flow: wrap;
             display: grid;
            gap: 16px;
             grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        }
    }
    &_footer {
        padding-top: 16px;
    }
    .addbtn{
        border-radius: 10px;
      }
}
label{
    text-transform: capitalize;
}