.Header{
&_table{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    height: 500px;
    margin-top: 10px;
}
&_add>*
    {
        left: 1100px;
        top:5px;
        border-radius: 5px;
        z-index: 1;
        background-color: white;
        color: #396CC5;
    }
}

.colbtn>*{
    // margin: 0 5px;
}